
/*NAVIGATION*/

.nav-tabs .nav-active {
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    color: #333;
}

.nav-tabs>li>a:focus {
    background-color: #fff;
}

.nav-tabs .nav-active:hover {
    background-color: #eee;
    border-bottom: 1px solid #eee;
}

.container-messages {
    display: flex;
    flex-direction: column;
}

.messages {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 20px;
    max-height: 70vh;
}



.chat-input {
    position: relative;
    overflow: hidden;
    padding: 0 40px;
    flex-shrink: 0;
}

.chat-input input[type="text"] {
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
}

.message.from-me .username {
    display: none;
}

.message.from-me {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.message.from-me .message-body {
    background-color: #af9570;
    color: white;
}
.message.from-me .message-time {
    background-color: #af9570;
    color: white;
    font-size: smaller;
    display: block;
}

.message {
    margin-bottom: 20px;
    margin-right: 40px;
}
.message-body {
    max-width: 80%;
    display: inline-block;
    padding: 20px;
    background-color: #eee;
    border: 1px;
    border-radius: 5px;
}

.username {
    font-weight: bold;
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 5px;
}
body {
    font-family: 'proxima-nova', sans-serif;
    margin: 0;
}

input[type="text"] {
    margin: 10px 0px;
    height: 60px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    color: #1e1e1e;
    font: 400 1rem "proxima-nova", sans-serif;
    width: 80%;
    border: 1px solid #dee0e0;
    padding: 0 20px;
    -webkit-transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus {
    border: 1px solid #AF9570;
    outline: none !important;
}

input[type="submit"] {
    background-color: #323232;
    color: white;
    font: 700 1rem "proxima-nova",sans-serif;
    border: none;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    padding: 20px 80px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    -moz-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    margin-top: 20px;
}

input[type="submit"]:hover {
    -webkit-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
    -moz-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
    box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
    background-color: #1e1e1e;
}
.username-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

h1 {
    display: block;
}